<h1>Add Events</h1>

<form method="post" action="">
    <label for="name">Enter the name of an event.</label>
    <input name="name" type="text" />
    <label for="description">Enter a description of the event.</label>
    <input name="description" type="text" />
    <input type="submit" value="Add Event" />


</form>
