@{ 
    @*int rowNum = 1;*@
}


<h1>Coding Events</h1>

<p> <a asp-controller="Events" asp-action="Add">Add Events</a></p>
<p><a  asp-controller="Events" asp-action="Delete">Delete</a></p>

@if (ViewBag.events.Count == 0)
{
   <p>No Events</p>
}



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Description</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var meeting in ViewBag.events)
        {
        <tr>


            @*<th scope="row">@rowNum</th>*@
            <td>@meeting.Id</td>
            <td>@meeting.Name</td>
            <td>@meeting.Description</td>



        </tr>
            @*rowNum++;*@
        }
        
    </tbody>
</table>
 